$white: #fff;
$grey: #B8B0C1;
$error-background: #a24848;
$card-color: #647C95;
$sunny: #6CDDFF;

html,
body {
	height: 100%;
}
* {
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}
h1,
h2 {
	margin-top: 0;
}
body {
	color: $white;
}
#root {
	height: 100%;	
}
.app {
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	padding: .75rem;
	height: 100%;
	background: rgb(171,135,253);
	background: linear-gradient(0deg, rgba(171,135,253,1) 0%, rgba(145,154,255,1) 61%);
	background-size: cover;
	background-position: center;
	&[class^="weather-2"] {
		background-image: url('images/bg-thunder.svg');
	}
	&[class^="weather-3"] {
		background-image: url('images/bg-rain.svg');
	}
	&[class^="weather-5"] {
		background-image: url('images/bg-rain.svg');
	}
	&[class^="weather-6"] {
		background-image: url('images/bg-cloudy.svg');
	}
	&[class^="weather-7"] {
		background-image: url('images/bg-cloudy.svg');
	}
	&[class^="weather-8"] {
		background-image: url('images/bg-cloudy.svg');
	}
	&.weather-800 {
		background-image: url('images/bg-sunny.svg');
		background-size: cover;
		background-position: center;
	}
}
.app-title {
	text-align: center;
	transition: .2s;
	&.app-start {
		font-size: 3.125rem
	}
	&.app-in-use {
		margin-bottom: .5rem;
		font-size: 2rem;
	}
}
.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;	
	margin-bottom: 1rem;
	z-index: 1;
	@media screen and (min-width: 620px) {
		width: 600px;
		margin: 0 auto 1rem;
	}
}
.weather-form {
	transition: .2s;
	&.app-start {
		.weather-form__input {
			font-size: 1.5rem;
		}
	}
	&.app-in-use {
		.weather-form__input {
			font-size: 1rem;
		}
		.weather-form__label {
			display: none;
		}
	}
	&__label {
		display: block;
		margin-bottom: .5rem;
		font-weight: 700;
	}
	&__input-container {
		display: flex;
	}
	&__input,
	&__submit {
		padding: .5rem .75rem;
		border: none;
		background-color: rgba($white, .5);
	}
	&__input {
		flex-grow: 1;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}
	&__submit {
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		color: rgba(#000, .4);
	}
}

.card-container {
  display: flex;
}
.card {
	flex-grow: 1;
	padding: .25rem;
	margin: .25rem;
	width: 25%;
	text-align: center;
	background: rgba($card-color, .3);
	border-radius: 4px;
	box-shadow: 0px 3px 6px rgba(#000, .1);
	&__day {
		font-size: .75rem;
		color: rgba($white, .5);
		text-transform: uppercase;
		font-weight: 700;
	}
	&__description {
		font-size: .75rem;
	}
	&__icon {
		width: 100%;
		height: 40px;
		margin: .5rem 0;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top;
	}
}
.custom-icon {
	height: 120px;
	width: 150px;
	margin-left: auto;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
}
// Icons
[class^="icon-2"] {
	background-image: url('images/icons/200.svg');
}
[class^="icon-3"],
[class^="icon-5"],
[class^="icon-6"] {
	background-image: url('images/icons/300.svg');
}
[class^="icon-7"] {
	background-image: url('images/icons/801.svg');
}
[class^="icon-8"] {
	background-image: url('images/icons/801.svg');
}
.icon-800 {
	background-image: url('images/icons/800.svg');
}
.icon-804 {
	background-image: url('images/icons/804.svg');
}

.show {
	display: block;
}
.hide {
	display: none;
}
.weather-today {
	display: flex;
	flex-grow: 1;
	&__text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
	}
	&__icon {
		padding-top: 3rem;
		width: 50%;
	}
	&__today {
		font-size: .75rem;
		color: rgba($white, .5);
		text-transform: uppercase;
		font-weight: 700;
	}
	&__text {
		margin: .2rem 0;
		font-weight: 700;
		&--capitalize {
			text-transform: capitalize;
		}
	}
	&__link {
		align-self: flex-start;
		border: 1px solid rgba($white, .5);
		border-radius: 4px;
		color: $white;
	    font-size: 14px;
	    margin-top: 1rem;
	    padding: .2rem .4rem;
	    text-decoration: none;
	    transition: .1s;
	    &:hover {
	    	border-color: rgba($white, .8);
	    }
	}
}
.error-message {
	flex-grow: 1;
	&__text {
		padding: .5rem;
		background: $error-background;
		border-radius: 4px;
		text-align: center;
	}
}



