html,
body {
  height: 100%; }

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif; }

#root {
  height: 100%; }

.app {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .75rem;
  height: 100%;
  background: #ab87fd;
  background: linear-gradient(0deg, #ab87fd 0%, #919aff 61%);
  background-size: cover;
  background-position: center; }
  .app[class^="weather-2"] {
    background-image: url("images/bg-thunder.svg"); }
  .app[class^="weather-3"] {
    background-image: url("images/bg-rain.svg"); }
  .app[class^="weather-5"] {
    background-image: url("images/bg-rain.svg"); }
  .app[class^="weather-6"] {
    background-image: url("images/bg-cloudy.svg"); }
  .app[class^="weather-7"] {
    background-image: url("images/bg-cloudy.svg"); }
  .app[class^="weather-8"] {
    background-image: url("images/bg-cloudy.svg"); }
  .app.weather-800 {
    background-image: url("images/bg-sunny.svg");
    background-size: cover;
    background-position: center; }
  .app .app-background {
    display: none; }

.app-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("images/bg-3.svg") no-repeat;
  background-size: cover;
  opacity: .7;
  z-index: 0; }

.app-title {
  text-align: center;
  transition: .2s; }
  .app-title.app-start {
    font-size: 3.125rem; }
  .app-title.app-in-use {
    margin-bottom: .5rem;
    font-size: 2rem; }

.main-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 1rem;
  z-index: 1; }
  @media screen and (min-width: 620px) {
    .main-container {
      width: 600px;
      margin: 0 auto 1rem; } }

h1,
h2 {
  margin-top: 0; }

body {
  color: #fff; }

.weather-form {
  transition: .2s; }
  .weather-form.app-start .weather-form__input {
    font-size: 1.5rem; }
  .weather-form.app-in-use .weather-form__input {
    font-size: 1rem; }
  .weather-form.app-in-use .weather-form__label {
    display: none; }
  .weather-form__label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 700; }
  .weather-form__input-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .weather-form__input, .weather-form__submit {
    padding: .5rem .75rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5); }
  .weather-form__input {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; }
  .weather-form__submit {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: rgba(0, 0, 0, 0.4); }

.card-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.card {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: .25rem;
  margin: .25rem;
  width: 25%;
  text-align: center;
  background: rgba(100, 124, 149, 0.3);
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); }
  .card__description {
    font-size: .75rem; }
  .card__icon {
    width: 100%;
    height: 40px;
    margin: .5rem 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top; }
    .card__icon[class^="icon-2"] {
      background-image: url("images/icons/200.svg"); }
    .card__icon[class^="icon-3"], .card__icon[class^="icon-5"], .card__icon[class^="icon-6"] {
      background-image: url("images/icons/300.svg"); }
    .card__icon[class^="icon-7"] {
      background-image: url("images/icons/801.svg"); }
    .card__icon[class^="icon-8"] {
      background-image: url("images/icons/801.svg"); }
    .card__icon.icon-800 {
      background-image: url("images/icons/800.svg"); }

.show {
  display: block; }

.hide {
  display: none; }

.weather-today {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .weather-today__text-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%; }
  .weather-today__icon {
    padding-top: 3rem;
    width: 50%; }
  .weather-today__today {
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: 700; }
  .weather-today__text {
    margin: .2rem 0;
    font-weight: 700; }
    .weather-today__text--capitalize {
      text-transform: capitalize; }

.error-message {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .error-message__text {
    padding: .5rem;
    background: #a24848;
    border-radius: 4px;
    text-align: center; }

.custom-icon {
  height: 120px;
  width: 150px;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top; }
  .custom-icon[class^="icon-2"] {
    background-image: url("images/icons/200.svg"); }
  .custom-icon[class^="icon-3"], .custom-icon[class^="icon-5"], .custom-icon[class^="icon-6"] {
    background-image: url("images/icons/300.svg"); }
  .custom-icon[class^="icon-7"] {
    background-image: url("images/icons/801.svg"); }
  .custom-icon[class^="icon-8"] {
    background-image: url("images/icons/801.svg"); }
  .custom-icon.icon-800 {
    background-image: url("images/icons/800.svg"); }
