html,
body {
  height: 100%; }

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif; }

h1,
h2 {
  margin-top: 0; }

body {
  color: #fff; }

#root {
  height: 100%; }

.app {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: .75rem;
  height: 100%;
  background: #ccb6ff;
  background: linear-gradient(0deg, #ccb6ff 0%, #babfff 100%);
  background-size: cover;
  background-position: center; }
  .app[class^="weather-2"] {
    background-image: url("images/rain-blur.png"); }
    .app[class^="weather-2"] .main-container {
      background-image: url("images/bg-rain.svg"); }
  .app[class^="weather-3"] {
    background-image: url("images/rain-blur.png"); }
    .app[class^="weather-3"] .main-container {
      background-image: url("images/bg-rain.svg"); }
  .app[class^="weather-5"] {
    background-image: url("images/rain-blur.png"); }
    .app[class^="weather-5"] .main-container {
      background-image: url("images/bg-rain.svg"); }
  .app[class^="weather-6"] {
    background-image: url("images/cloudy-blur.png"); }
    .app[class^="weather-6"] .main-container {
      background-image: url("images/bg-cloudy.svg"); }
  .app[class^="weather-7"] {
    background-image: url("images/cloudy-blur.png"); }
    .app[class^="weather-7"] .main-container {
      background-image: url("images/bg-cloudy.svg"); }
  .app.weather-801, .app.weather-802 {
    background-image: url("images/partly-cloudy-blur.png"); }
    .app.weather-801 .main-container, .app.weather-802 .main-container {
      background-image: url("images/bg-partly-cloudy.svg"); }
  .app.weather-803, .app.weather-804 {
    background-image: url("images/partly-cloudy-blur.png"); }
    .app.weather-803 .main-container, .app.weather-804 .main-container {
      background-image: url("images/bg-partly-cloudy.svg"); }
  .app.weather-800 {
    background-image: url("images/sunny-blur.png"); }
    .app.weather-800 .main-container {
      background-image: url("images/bg-sunny.svg"); }

.app-title {
  text-align: center;
  transition: .2s; }
  .app-title.app-start {
    font-size: 3.125rem; }
  .app-title.app-in-use {
    margin-bottom: .5rem;
    font-size: 2rem; }

.main-container {
  background: #ab87fd;
  background: linear-gradient(0deg, #ab87fd 0%, #919aff 61%);
  background-size: cover;
  background-position: center;
  border-radius: .5rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 1rem;
  max-height: 800px;
  max-width: 400px;
  padding: 1rem;
  z-index: 1; }
  @media screen and (min-width: 620px) {
    .main-container {
      width: 600px;
      margin: 0 auto 1rem; } }

.weather-form {
  transition: .2s; }
  .weather-form.app-start .weather-form__input {
    font-size: 1.5rem; }
  .weather-form.app-in-use .weather-form__input {
    font-size: 1rem; }
  .weather-form.app-in-use .weather-form__label {
    display: none; }
  .weather-form__label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 700; }
  .weather-form__input-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .weather-form__input, .weather-form__submit {
    padding: .5rem 1.25rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5); }
  .weather-form__input {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; }
  .weather-form__submit {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: rgba(0, 0, 0, 0.4); }

.card-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.card {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: .25rem;
  margin: .25rem;
  width: 25%;
  text-align: center;
  background: rgba(100, 124, 149, 0.3);
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); }
  .card__day {
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: 700; }
  .card__description {
    font-size: .75rem; }
  .card__icon {
    width: 100%;
    height: 40px;
    margin: .5rem 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top; }

.custom-icon {
  height: 120px;
  width: 100px;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top; }

[class^="icon-2"] {
  background-image: url("images/icons/200.svg"); }

[class^="icon-3"],
[class^="icon-5"],
[class^="icon-6"] {
  background-image: url("images/icons/300.svg"); }

[class^="icon-7"] {
  background-image: url("images/icons/801.svg"); }

[class^="icon-8"] {
  background-image: url("images/icons/801.svg"); }

.icon-800 {
  background-image: url("images/icons/800.svg"); }

.icon-804 {
  background-image: url("images/icons/804.svg"); }

.show {
  display: block; }

.hide {
  display: none; }

.weather-today {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .weather-today__text-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 3rem;
    width: 50%; }
  .weather-today__icon {
    padding-top: 3rem;
    width: 50%; }
  .weather-today__today {
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: 700; }
  .weather-today__text {
    margin: .2rem 0;
    font-weight: 700; }
    .weather-today__text--capitalize {
      text-transform: capitalize; }
  .weather-today__link {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin-top: 1rem;
    padding: .2rem .4rem;
    text-decoration: none;
    transition: .1s; }
    .weather-today__link:hover {
      border-color: rgba(255, 255, 255, 0.8); }

.error-message {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .error-message__text {
    padding: .5rem;
    background: #a24848;
    border-radius: 4px;
    text-align: center; }
